.messageMenu {
    width: 20vw;
    height: 100%;
    overflow-y: scroll;
}

.searchbox {
    margin: 16px;
    padding-left: 12px;
    border: 1px solid #cccccc;
    border-radius: 32px;
    background-color: #cccccc;
}